<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<bod >
<h1>Hell"o Music Application"s"</h1>
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>User Registration</h1>

	<form action="register" method="post">
		<label>User name :</label> <input type="text" name="username">
		<br> <label>email :</label> <input type="email" name="email">
		<br> <label>password :</label> <input type="password"
			name="password"> <br> <label>Gender :</label> M<input
			type="radio" name="gemder" value="male"> F<input type="radio"
			name="gemder" value="female"> <br> <label>role :</label>
		Admin<input type="radio" name="role" value="Admin"> User<input
			type="radio" name="role" value="Costumer"> <br> <label>address
			:</label>
		<textarea name="address"></textarea>
		<br> <input type="submit">
	</form>
</body>
</html>
</body>
</html>